.site-title {
  font-size: 2rem;
  font-family: var(--font-site-title);
  background: linear-gradient(to top right, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigator {
  &__link {
    color: hsl(var(--color-white));
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--font-sub);
    text-transform: capitalize;
    transition: color 0.3s ease;

    &:hover {
      color: yellow;
    }
  }
}
