.search {
  position: absolute;
  @include centerElement;

  &__form {
    display: flex;
    gap: 2rem;
    max-width: 40rem;
    width: 100%;
    background-color: hsl(var(--color-white));
    padding: 1rem;
    border-radius: 0.5rem;
  }

  svg {
    display: block;
    width: 5rem;
    height: 5rem;
    align-self: center;
  }

  &__searchbar {
    display: block;
    width: 100%;
    border: none;
    font-size: 2rem;

    &:focus {
      outline: none;
    }
  }
}
