:root {
  --default-font-size: 62.5%;
  --font-headers: "Roboto";
  --font-sub: "Open Sans";
  --font-site-title: "Lobster";
  --color-white: 0 0% 100%;
  --color-black: 0 0% 0%;
  --color-dark-blue: 240 42% 18%;
  --color-dark-purple: 258 100% 25%;
  --color-purple: 277 89% 40%;
  --color-pink: 325 94% 66%;
}

html {
  box-sizing: border-box;
  font-size: var(--default-font-size);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom, hsl(var(--color-dark-blue)) 5%, hsl(var(--color-dark-purple)) 15%, hsl(var(--color-purple)) 45%, hsl(var(--color-pink)));
  position: relative;
}

main {
  position: relative;
  min-height: 85vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
}

ul,
li {
  list-style: none;
}

.discover {
  min-height: 100vh;
}
.discover__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 90%;
  margin: 0 auto;
}

.discover-movie {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.discover-movie__image {
  display: block;
  width: 100%;
  transition: 0.3s opacity ease;
}
.discover-movie:hover .discover-movie__image {
  opacity: 0.5;
}
.discover-movie__info {
  color: hsl(var(--color-white));
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35%;
  width: 100%;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(120%);
  transition: 0.3s ease transform;
}
.discover-movie__info .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 0.5rem;
  top: -1.7rem;
}
.discover-movie__info h2 {
  font-size: 1.8rem;
}
.discover-movie__info p {
  font-family: var(--font-sub);
  font-size: 1.4rem;
  text-overflow: ellipsis;
}
.discover-movie:hover .discover-movie__info {
  transform: translateY(0);
}

.site-title {
  white-space: nowrap;
  font-size: 3rem;
  font-family: var(--font-site-title);
  background: linear-gradient(to top right, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigator {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.navigator__links {
  display: flex;
  gap: 1rem;
}
.navigator__link {
  color: hsl(var(--color-white));
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-sub);
  text-transform: capitalize;
  transition: color 0.5s ease;
}
.navigator__link:hover {
  color: yellow;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search__form {
  display: flex;
  gap: 2rem;
  max-width: 40rem;
  width: 100%;
  background-color: hsl(var(--color-white));
  padding: 1rem;
  border-radius: 0.5rem;
}
.search svg {
  display: block;
  width: 5rem;
  height: 5rem;
  align-self: center;
}
.search__searchbar {
  display: block;
  width: 100%;
  border: none;
  font-size: 2rem;
}
.search__searchbar:focus {
  outline: none;
}

.error {
  position: relative;
  min-height: 100vh;
  background: no-repeat linear-gradient(to bottom, hsla(var(--color-dark-blue)/0.8) 5%, hsla(var(--color-dark-purple)/0.8) 15%, hsla(var(--color-purple)/0.8) 45%, hsla(var(--color-pink)/0.8)), url("../images/film-reels-unsplash.jpg");
  background-size: cover;
}
.error__message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error__message-container h1 {
  font-size: 4rem;
}

.footer {
  width: 100%;
}
.footer__attribution {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}
.footer__logo {
  height: 8rem;
  width: 8rem;
}

/*# sourceMappingURL=app.css.map */
