html {
  box-sizing: border-box;
  font-size: var(--default-font-size);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  @include bodyGradient;
  position: relative;
}

main {
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
}

ul,
li {
  list-style: none;
}
